////////////////////////
// Header Styling
////////////////////////

#site-slogan {
	text-transform: uppercase;
}

#site-name {
	font-size: 55%;
	a:link, a:visited {
		text-decoration: none;
		color: #14105E;
	}

}