////////////////////////
// Header Styling
////////////////////////

#sub_header {
	background: #121738;
	height: 60px;
}

#header {
	height: 135px;
	background: #eee;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
}

#name-and-slogan {
	padding: 20px 15px 0 30px;
	#site-slogan {
		text-transform: uppercase;
		letter-spacing: 0.5pt;
		font-size: 80%;
		color: #9C9BA9;
	}

	#site-name {
		font-size: 115%;
		font-weight: normal;
		a:link, a:visited {
			color: #14105E;
		}

	}
}

.header__logo {
	float: right;
	margin-top: 2.25em;
}

.header__region {
	#islandora-solr-simple-search-form {
		padding-left: 25px;
		.adv_search {
			display: none;
		}
		.form-text {
			width: 12em;
			border: 1px solid #E0E0E0;
			height: 34px;
			padding: 3px 10px 5px 10px;
			border-radius: 3px;
			color: #D7D7D7;
		}
		.form-submit {
			background: url("../images/search_btn_sml.png") no-repeat scroll left 2px transparent;
			width: 35px;
			height: 32px;
			text-indent: -9999px;
			border: 0;
		}
	}
}