////////////////////////
// Header Styling
////////////////////////

#sub-header {
	height: 60px;

	//Start UCONN Banner styles//
	#uconn-header-container { background-color:#000e2f;color: #fff; padding: 0 1em 0 2em; }
 
	#uconn-header-container .btn { color: #c1e8f8; }
 
	#uconn-header-container .row-fluid { display: table; }
 
	#uconn-header-container .row-fluid>div {
		display: table-cell;
		vertical-align: middle;
		float: none; }
 
	#wordmark {
		color: #fff;
		font-family: "UConn",Verdana,Arial,Helvetica,sans-serif;
		font-size: 32px;
		letter-spacing: 3px;
		text-transform: uppercase;
		padding: 0px 5px 0 0; }
	 
	#university-of-connecticut {
		font-family: "Proxima Nova",Verdana,Arial,Helvetica,sans-serif;
		color: #9faab2;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: .055em;
		word-spacing: .02em;
		border-left: 2px solid #3f4760;
		padding: 0px 0 0 5px;
		font-weight: bold; }
	 
	#button-container { 
		text-align: right;
		position: relative;
		top: -42px;
		display: inline-block;
		float: right;
	}
 
	#button-container>span {
		width: 35px;
		height: 35px;
		display: inline-block;
		margin: 0px 2px;
		padding: 0px;
		vertical-align: middle; 
		position: relative;
		top: -7px;
	}
 
	#button-container .btn-block { 
		display: inline-block;
		height: 35px;
		width: 35px;
	}
 
	#button-container .btn-primary,#button-container .btn-primary:hover,#button-container .btn-primary:visited,#button-container .btn-primary:focus {
		background-color: #1c3173;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #304994), color-stop(100%, #1c3173));
		background-image: -webkit-linear-gradient(#304994,#1c3173);
		background-image: -moz-linear-gradient(#304994,#1c3173);
		background-image: -o-linear-gradient(#304994,#1c3173);
		background-image: linear-gradient(#304994,#1c3173);
		-webkit-box-shadow: inset 1px 1px 0 #3957b0;
		-moz-box-shadow: inset 1px 1px 0 #3957b0;
		box-shadow: inset 1px 1px 0 #3957b0;
		border: 1px solid #1e2b51;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		background-position: top;
		overflow: hidden; }
 
	#button-container .btn-primary:hover { color: #fff !important; }
 
	#button-container .letters {
		font-size: 11px;
		display: inline-block;
		word-wrap: nowrap;
		span {
			margin-right: 1px;
			position: relative;
			top: 5px;
			right: 6px;
		}
	}

	.icon-search {
		background: url('../images/icon-search.png') no-repeat 9px 8px;
		display: block;
		height: 35px;
		width: 35px;
	}
 
	#home-link {
		display: table-cell;
		height: 60px;
		vertical-align: middle; }
	 
		#home-link:hover { text-decoration:none;color: #eee; }
	 
		#home-link span { margin:auto 0;float: left; }
	 
	#site-header { padding: 30px 0 15px 0; }
	 
		#site-header .row-fluid { display: table; }
	 
			#site-header .row-fluid [class*='span'] {
				float: none;
				display: table-cell;
				vertical-align: top;
				margin: auto; }
	 
	#site-title {
		margin: 0px;
		padding: 0px;
		line-height: inherit; }
	 
		#site-title a { padding:0;margin: 0; }
	 
			#site-title a:link,#site-title a:visited {
				font-family: "Proxima Nova";
				font-size: 24px;
				font-weight: 500;
				color: #0b1860; }
	 
	#super-title {
		font-size: 13px;
		margin: 0;
		padding: 0; }
	 
		#super-title a:link,#super-title a:visited {
			color: #868695;
			font-family: "Proxima Nova",Verdana,Arial,Helvetica,sans-serif;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 5px; }
	 
	#search-container { text-align: right; }
	 
		#search-container #button-container .btn-primary { background: #e9e9e9; }
	 
	#site-search { margin: 0px; }
 	 
	#site-header #search-container form { margin: 0px; }
	 
	#site-header #search-container input {
		float: none;
		display: inline-block;
		width: 75%;
		margin: 0px; }
	 
	#site-header #search-container button {
		margin: 0px;
		display: inline-block;
		width: 20%; }
	 
	 
		.ie7 #uconn-header-container,.lt-ie8 #uconn-header-container { min-height:60px;line-height: 60px; }
	 
		.ie7 #uconn-header-container #university-of-connecticut,.lt-ie8 #uconn-header-container #university-of-connecticut { border: none; }
	 
		.ie7 #uconn-header-container .row-fluid>div,.lt-ie8 #uconn-header-container .row-fluid>div { display:block;float: left; }
	 
		.ie7 #uconn-header-container #button-container,.lt-ie8 #uconn-header-container #button-container { margin-top: 12.5px; }
	 
		.ie7 #uconn-header-container #button-container span,.lt-ie8 #uconn-header-container #button-container span { zoom:1;*display: inline; }
	 
		.ie7 #uconn-header-container #button-container .btn-block,.lt-ie8 #uconn-header-container #button-container .btn-block { padding: 0px; }
	 
		.ie7 #uconn-header-container #button-container .btn,.ie7 #uconn-header-container #button-container .btn i,.lt-ie8 #uconn-header-container #button-container .btn,.lt-ie8 #uconn-header-container #button-container .btn i { line-height:35px;margin: 0px; }
	 
		.ie7 #site-header .row-fluid,.lt-ie8 #site-header .row-fluid { display: block; }
	 
		.ie7 #site-header .row-fluid>div,.lt-ie8 #site-header .row-fluid>div { display:block;float: left; }

}

#header {
	height: 135px;
	background: #eee;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
}

#name-and-slogan {
	padding: 35px 15px 0 30px;
	#site-slogan {
		text-transform: uppercase;
		letter-spacing: 0.5pt;
		font-size: 80%;
		color: #9C9BA9;
	}

	#site-name {
		font-size: 115%;
		font-weight: normal;
		a:link, a:visited {
			color: #14105E;
		}

	}
}

.header__logo {
	float: right;
	margin-top: 2.25em;
}

.header__region {
	#islandora-solr-simple-search-form {
		padding-left: 18px;
		.adv_search {
			display: none;
		}
		.form-text {
			width: 13em;
			border: 1px solid #E0E0E0;
			height: 34px;
			padding: 3px 10px 5px 10px;
			border-radius: 3px;
			color: #D7D7D7;
			line-height: 1.5em;
		}
		.form-submit {
			background: url("../images/search_btn_sml.png") no-repeat scroll left 2px transparent;
			width: 35px;
			height: 32px;
			text-indent: -9999px;
			border: 0;
		}
	}
}