////////////////////////
// Islandora Module Styling
////////////////////////

// Simple Search //
#block-islandora-solr-simple {
	width: 40%;
	float: left;
	clear: left;
	max-width: 450px;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	padding: 5px;

	h2 {
		border-bottom: 1px solid #E0E0E0;
		font-weight: normal;
		font-size: 80%;
		padding: 4px 13px 8px;
		margin: 0 -5px;
	}

	#edit-simple {
		padding: 10px 10px 0;
	}
	.form-submit {
		height: 45px;
		width: 27%; 
		background: #777;
		color: #fff;
		border-radius: 10px;
		border: 0;
		text-transform: capitalize;
		letter-spacing: 0.3pt;
		margin-left: 1em;
	}
	.form-text {
		width: 65%;
		height: 50px;
		color: #D7D7D7;
		border: 1px solid #E0E0E0;
		line-height: 3em;
		padding-left: 0.5em;
	}
	.adv_search {
		font-size: 75%;
		margin: 5px 0 0 5px;	
		display: inline-block;
		letter-spacing: 0.3pt;
	}
}

// Solr Facets //

#block-islandora-solr-basic-facets {
	border: 1px solid #E0E0E0;
	border-radius: 8px 8px 8px 8px;
	padding: 10px 15px 20px;

	h3 {
		margin: 0 -15px;
		border-bottom: 1px solid #E0E0E0;
		font-size: 80%;
		font-weight: normal;
		padding: 0 15px 8px;
	}
	.islandora-solr-range-slider {
	font-size: 75%;
	color: #777;

	}
	.range-slider-fromto, .date-range-slider-gap {
		display: inline;
		margin: 0 5px;
	}
	.islandora-solr-date-filter {
		@extend .islandora-solr-range-slider;
		
		.toggle-date-range-filter {
			text-decoration: underline;
			color: #EDC240;
		}
	}
}

#block-islandora-solr-current-query {
	@extend #block-islandora-solr-basic-facets;
	.islandora-solr-query-list {
		color: #777;
		font-size: 85%;
	}
}
#block-islandora-solr-sort {
	@extend #block-islandora-solr-basic-facets;
	.islandora-solr-query-list {
		color: #777;
		font-size: 85%;
	}
	h2 {
		@extend h3;
	}
}

// Solr Display //
#block-islandora-solr-display-switch {
  float: right;
  position: relative;
  top: -42px;
  left: -20px;
  opacity: 0.5;
}

.block-islandora-solr ul {
  margin: 0.5em 0 0;
  padding: 0 !important;
  li {
	  border-bottom: 1px solid #EEF0ED;
	  list-style: none outside none;	
	  padding: 3px 0;
  }
  li.last {
  	border: 0;
  }
}

#block-islandora-solr-display-switch ul li {
  float: left;
}

.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid, .islandora-solr-display a.display-table,
.islandora-view-grid, .islandora-view-list {
  background: url("../images/display-grid-list.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 22px;
  outline: medium none;
  text-indent: -9999px;
  width: 22px;
}

.islandora-solr-display a.display-grid, .islandora-view-grid {
  background: url("../images/display-grid.png") no-repeat scroll left top transparent;
}

.islandora-solr-display a.display-table, .islandora-view-list {
  background: url("../images/display-list.png") no-repeat scroll left top transparent;
}

.islandora-basic-collection-display-switch {
	opacity: 0.5;
	li {
		padding: 0;
	}	
}

.page-islandora-search .islandora-solr-display li a {
	padding: 0 2px;
}

.islandora-basic-collection-wrapper {
	.islandora-basic-collection-object {
		background: #CCC;
		border-radius: 18px;
		padding: 0.5em 1em;
	}

	.islandora-basic-collection-thumb {
		text-align: center;
		padding-top: 10px;
	}
	.islandora-basic-collection-caption {
		color: #888;
		font-size: 95%;
		padding-top: 2px;
		padding-left: 10px;
	}	
	.islandora-basic-collection-display-switch {
		position: absolute;
		right: 30px;
		top: 55px;
	}

	p {
		margin-left: 0.5em;	
		margin-bottom: 0;
	}
	hr {
		display: none;
	}
}

.islandora-basic-collection-wrapper-metadata {
	margin: 1em 0 0 0.75em;
}

.islandora-basic-collection-grid {
	margin-top: 50px;
}

.islandora-basic-collection-list-item {
	float: left;
	text-align: right;

	dl {
		margin: 0 1.5em;
	}
	dt {
		float: right !important;
		margin: 0;
		max-width: 85%;
	}
	dd {
		text-align: left;
		margin: 0 !important;
		max-width: 85%;
	}

	img {
		float: right;
	}
}


// Solr Search Results //
.islandora-solr-search-result {
	border-radius: 18px;

	.solr-thumb {
		float: right;	
		img {
			border: 0;
			padding: 15px 15px 10px 10px;
		}
	}
	.solr-fields {
		.solr-value {
			padding-bottom: 0;
			padding-left: 0;
		}
		.rels-ext-ispagenumber-literal-ms {
			font-size: 105%;
			padding-top: 10px;
			color: #777;
			font-weight: normal;
			letter-spacing: 0.5pt;			
		}
		.text-nodes-hocr-hlt {
			font-size: 75%;
			padding-top: 0;
			color: #777;
			font-weight: normal;
			letter-spacing: 0.5pt;			
		}
	}

	.solr-fields, .solr-fields dt, .solr-fields dd {
		border: 0;
	}

}

.islandora-solr-search-result.odd {
	background: #CCC;
	
}
.islandora-solr-search-result.even {
	border: 1px solid #CCC;	
}

#islandora-solr-result-count {
	font-size: 95%;
	margin: 10px;
}



// Accordion Rotator //

#block-accordion-rotator-accordion-rotator {
	float: right;
	width: 55%;
	margin-right: 1em;
}

.acc_title {
	font-size: 90%;
	padding-left: 5px;
}
.acc_text {
	padding-left: 5px !important;
	font-size: 90% !important;
}