////////////////////////
// Page and Content Styling
////////////////////////

body {
	background: #fff;
}

h1.page__title {
	font-size: 118%;
	font-weight: normal;
	color: #777;
	padding: 5px 10px 8px;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	margin: 1em 0 0;
}

h2 {
	color: #777;
}

a:link, a:visited {
	color: #777;
	text-decoration: none;
}
a:hover, a:active {
	color: #121738;
}

#main {
	padding: 0;
	position: relative;
	top: 10em;
	/*margin-bottom: -10em;*/
	clear: both;
}

#content {
	color: #777;
}

ul.pager {
	text-align: right;	
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	height: 40px;
	li {
		line-height: 2.4em;
		vertical-align: middle;
	}
}
.tabs-primary, .tabs-secondary {
	position: relative;
	z-index: 50;
}

// IA BOOK VIEWER //

#book-viewer {
	position: relative;
	z-index: 500;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	#BRtoolbar {
		background: #EEE;
	}
	#BRpageview, #BRcontainer {
		background: #CCC;
	}	
	#BRnav {
		background: #EEE;
	}
}

#colorbox, #cboxOverlay, #cboxWrapper {
  max-width: 100%;
  height: 100% !important;
}

#cboxWrapper {
	max-width: 100%;
	height: 100% !important;
	#cboxContent {
		#cboxLoadedContent {
			max-width: 100%;
		}
		max-width: 95%;
		border-color: #000E2F;
		padding: 0.5em;
	}

	.BRfloatHead {
		background: #000E2F;	
		padding: 20px 10px;
	}
	.BRfloat {
		min-width: 385px;
	}
	.floatShut {
		margin: 18px 10px;
	}
	.BRfloatMeta {
		height: auto !important;
		height: auto !important;
	}
	table {
		margin: 0.5em;
	}
}

a.dwn_btn {
	background-color: #DEDEDE;
	border: 1px solid #BBB;
	border-radius: 4px;
	color: #333333;
	letter-spacing: 1px;
	padding: 0.5em 1em;
	text-align: center;
	transition: background-color 0.3s ease 0s;
	margin: 1.5em 0;
	display: block;
	width: 7em;
}
a.dwn_btn:hover {
	background-color: #E9E9E9;
	border: 1px solid #F2F2F2;
	color: #121738;
}

#block-service-links-service-links-not-node {
		/*border: 1px solid #E0E0E0;
		border-radius: 8px 8px 8px 8px;
		height: 1.5em;*/
		padding: 20px 10px 30px;
	h2 {
		float: left;
		font-size: 80%;
		font-weight: normal;
	}
	h2:after {
		content: ":";
	}
	.service-links {
		float: left;
	}
	ul {
		margin: 0;
	}
	li {
		display: inline;
		padding-right: 10px;
	}
}